<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ei ollut sitä</title>
</head>
<body>
    <h1>Sori vaan, ei löytynyt otsikolla <%= kysely %> , kokeile sanoilla 'auto' tai 'vene'</h1>
</body>
</html>