<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kotisivu</title>
</head>
<body>
    <h1>Teretulemast  <%= 'vierailija'.toUpperCase() %></h1>
    <!-- EJS harjoittelua-->
    
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem velit, vel fuga iste odio accusantium quod minus illo officiis molestiae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ex quod odit voluptatem et vero aspernatur porro officia asperiores fugit laboriosam cum, alias voluptate illum, perferendis quibusdam magni. Cupiditate, debitis dignissimos. Doloribus, consequatur quos distinctio iure odit optio placeat.</p>
    
</body>
</html>