<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tottoooroo, satunnais numerosi on: <%= satunnainen %></h1>
    <% if(satunnainen % 2 === 0) { %>
        <h2>Toi oli vielä jota tasa luku</h2>
    <% } else { %>
        <h2>Toi oli pariton luku</h2>
    <% } %>
    <h3><%= satunnainen%2 === 0 ? 'tasan' : 'pariton' %></h3>
</body>
</html>