<%- include('partials/head') %>

    <h1>Kaikki vieraat</h1>
    <ul>
        <% for(vieras of vieraat) { %>
        <li><%=vieras%></li>
        <% } %>
    </ul>
    <%- include(partials/footer) %>