<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vieraat</title>
</head>
<body>
    <h1>Kaikki vieraat</h1>
    <ul>
        <% for(vieras of vieraat) { %>
        <li><%=vieras%></li>
        <% } %>
    </ul>
</body>
</html>